services:
  dagu:
    variables:
      EARTH_HOSTNAME:
        record: earth
        hostname: dagu
    files:
      config:
        content:
          data:
            headless: false
            remoteNodes:
              - name: earth
                apiBaseURL:
                  extract:
                    svariable: EARTH_HOSTNAME
                  transform:
                    string:
                      template: "https://{value}/api/v2"
                isAuthToken: true
                authToken:
                  host: earth
                  extract:
                    service: dagu
                    extract:
                      secret: token
    network:
      bridge:
        proxy:
          egress:
            https:
              earth:
                host: earth
                hostnames:
                  - svariable: EARTH_HOSTNAME
    keepasses:
      keepass:
        hostname:
          hostname: dagu
    secrets:
      jwt: {}
    container:
      envs:
        DAGU_AUTH_MODE: builtin
        DAGU_AUTH_ADMIN_USERNAME:
          keepass:
          info: username
        DAGU_AUTH_ADMIN_PASSWORD:
          keepass:
          info: password
        DAGU_AUTH_TOKEN_SECRET:
          secret: jwt
