docker:
  volumes:
    local:
      docker-proxy-mtls:
        active: false
      docker-earth-mtls:
        backup: false
services:
  traefik:
    depends-on: null
    container:
      volumes:
        docker-proxy-mtls:
          active: false
  docker:
    depends-on:
      - host: earth
        service: docker
    variables:
      EARTH_CA_PATH:
        extract:
          svolume: docker-earth-mtls
        transform:
          path: ca.crt
      EARTH_CERT_PATH:
        extract:
          svolume: docker-earth-mtls
        transform:
          path: client.crt
      EARTH_KEY_PATH:
        extract:
          svolume: docker-earth-mtls
        transform:
          path: client.pem
    config:
      traefik:
        dynamic:
          proxy:
            active: false
            record: sun
    files:
      ca:
        active: false
      cert:
        active: false
      key:
        active: false
      earth-ca:
        path:
          svariable: EARTH_CA_PATH
        content:
          host: earth
          extract:
            service: docker
            extract:
              mtls: proxy-mtls
              info: ca_cert
      earth-cert:
        path:
          svariable: EARTH_CERT_PATH
        content:
          host: earth
          extract:
            service: docker
            extract:
              mtls: proxy-mtls
              info: client_cert
      earth-key:
        path:
          svariable: EARTH_KEY_PATH
        content:
          host: earth
          extract:
            service: docker
            extract:
              mtls: proxy-mtls
              info: client_key
    secrets: null
