services:
  dozzle:
    variables:
      EARTH_HOSTNAME:
        record: earth
        hostname: dozzle
    config:
      traefik:
        dynamic:
          agent:
            active: false
    network:
      bridge:
        proxy:
          egress:
            https:
              earth:
                hostname:
                  svariable: EARTH_HOSTNAME
                host: earth
    container:
      active: true
      envs:
        DOZZLE_REMOTE_AGENT:
          extract:
            kv:
              earth:
                svariable: EARTH_HOSTNAME
              port:
                service: traefik
                extract:
                  svariable: HTTPS_PORT
          transform:
            string:
              template: "{earth}:{port}"
    containers:
      agent:
        active: false
