services:
  dozzle:
    variables:
      EARTH_HOSTNAME:
        record: earth
        hostname: dozzle
    config:
      traefik:
        dynamic:
          agent:
            active: false
    network:
      bridge:
        egress:
          https:
            earth:
              host: earth
              hostnames:
                - svariable: EARTH_HOSTNAME
    container:
      active: true
      envs:
        DOZZLE_REMOTE_AGENT:
          extract:
            kv:
              earth:
                svariable: EARTH_HOSTNAME
              port:
                service: traefik
                extract:
                  svariable: HTTPS_PORT
          transform:
            string:
              template: "{earth}:{port}"
    containers:
      agent:
        active: false
