services:
  dozzle:
    variables:
      EARTH_HOSTNAME:
        record: earth
        hostname: dozzle
    config:
      traefik:
        dynamic:
          traefik:
            record: sun
            hostname: system
            service:
              port:
                extract:
                  env: DOZZLE_ADDR
                transform:
                  string:
                    capture: ":(\\d+)"
            middlewares:
              - name: redirect
                data:
                  redirectRegex:
                    regex: "^https://([^/]+)/?$"
                    replacement:
                      extract:
                        env: DOZZLE_BASE
                      transform:
                        string:
                          template: "https://${{1}}{value}/"
          agent:
            record: sun
            active: false
    secrets:
      agent-key:
        algorithm: ED25519
      agent-cert:
        key: agent-key
        subject:
          common-name:
            record: sun
            hostname: dozzle
        is-ca-certificate: true
    container:
      active: true
      hosts:
        - hostname:
            svariable: EARTH_HOSTNAME
          host: earth
          internal: true
      envs:
        DOZZLE_REMOTE_AGENT:
          extract:
            kv:
              earth:
                svariable: EARTH_HOSTNAME
              port:
                service: traefik
                extract:
                  svariable: HTTPS_PORT
          transform:
            string:
              template: "{earth}:{port}"
    containers:
      agent:
        active: false
