services:
  restic:
    config:
      dagu:
        docker:
          dags:
            check:
              dag:
                params:
                  types:
                    backup: ""
                  main:
                    READ_DATA: true
              command:
                - "check"
                - param: READ_DATA
                  transform:
                    template: "--read-data={value}"
            forget:
              dag:
                params:
                  main:
                    PRUNE: false
              command:
                - "forget"
                - param: PRUNE
                  transform:
                    template: "--prune={value}"
            prune:
              dag:
                params:
                  types:
                    backup: ""
              command: ["prune"]
        dag:
          forget-and-prune:
            name: forget-and-prune
            path: restic-forget-and-prune
            tags: ["backup"]
            schedule: "0 7 * * sun" # 7am every sunday
            steps:
              - name: forget
                run:
                  service: restic
                  dag: forget
              - name: prune
                run:
                  service: restic
                  dag: prune
                depends:
                  - forget
