services:
  tailscale:
    container:
      hosts:
        - host: earth
          internal: true
      network:
        bridge:
          internal:
            aliases:
              - record: solar
                hostname: kanidm
              # TODO: Disable this after https://github.com/opencloud-eu/opencloud/issues/705
              - record: solar
                hostname: opencloud
              - record: solar
                hostname: impress
              - record: solar
                hostname: chromium
              - record: solar
                hostname: livekit
