services:
  kanidm:
    config:
      state:
        systems:
          oauth2:
            kanidm:
              display-name: Kanidm
              origin-landing:
                hostname: kanidm
                record: solar
                scheme: https
              prefer-short-username: true
  traefik:
    config:
      entrypoint:
        config:
          public-http:
            port:
              svariable: HTTP_PUBLIC_BIND_PORT
            to:
              svariable: HTTPS_PORT
          private-https:
            local: true
            timeout: &timeout
              read: 12h
              write: 12h
              idle: 12h
          public-https:
            port:
              svariable: HTTPS_PUBLIC_BIND_PORT
            internal: true
            http3:
              port:
                svariable: HTTPS_PORT
            timeout: *timeout
            middlewares:
              - geoblock
              - crowdsec
        mapping:
          solar: "public-https"
          sun: "private-https"
        local-entrypoint: public-https
        internal-entrypoint: private-https
      plugins:
        crowdsec:
          name: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
          version: "v1.4.4"
        geoblock:
          name: github.com/david-garcia-garcia/traefik-geoblock
          version: "v1.1.0"
        oidc:
          name: github.com/sevensolutions/traefik-oidc-auth
          version: "v0.13.0"
      traefik:
        geoblock:
          name: geoblock
          plugin: geoblock
          data:
            enabled: true
            defaultAllow: false
            databaseFilePath:
              extract:
                volume: traefik-plugin
              transform:
                path: sources
            allowedCountries:
            allowPrivate: true
            banIfError: true
            logLevel: "info"
            logFormat: "json"
            logBannedRequests: true
            databaseAutoUpdate: true
            databaseAutoUpdateDir:
              extract:
                volume: traefik-data
              transform:
                path: ip2database
        crowdsec:
          name: crowdsec
          plugin: crowdsec
          data:
            enabled: true
            crowdsecMode: stream
            crowdseclapikey:
              service: crowdsec
              extract:
                secret: traefik
            crowdsecLapiHost: crowdsec:8080
        oidc:
          name: oidc
          plugin: oidc
          data:
            Secret:
              secret: oidc
            Provider:
              Url:
                extract:
                  hostname: kanidm
                  record: solar
                  scheme: https
                transform:
                  string:
                    template: "{value}/oauth2/openid/kanidm"
              ClientId: kanidm
              ClientSecret:
                service: kanidm
                extract:
                  export: kanidm
              TokenValidation: IdToken
              UsePkce: true
            Scopes: ["openid", "profile", "email"]
            Headers:
              - Name: X-Remote-User
                Value: "{{`{{ .claims.preferred_username }}`}}"
              - Name: X-Remote-Name
                Value: "{{`{{ .claims.name }}`}}"
              - Name: X-Remote-Email
                Value: "{{`{{ .claims.email }}`}}"
        dashboard:
          name: dashboard
          record: sun
          hostname: system
          prefix:
            svariable: API_PATH
          service: "api@internal"
    secrets:
      oidc:
        length: 32
