services:
  kanidm:
    config:
      state:
        systems:
          oauth2:
            kanidm:
              public: true
              display-name: Kanidm
              origin-landing:
                hostname: kanidm
                record: solar
                scheme: https
              prefer-short-username: true
  traefik:
    depends-on: ["openobserve"]
    config:
      entrypoint:
        config:
          public-http:
            port:
              svariable: HTTP_PUBLIC_BIND_PORT
            to:
              svariable: HTTPS_PORT
          private-https:
            local: true
            timeout: &timeout
              read: 12h
              write: 12h
              idle: 12h
          public-https:
            port:
              svariable: HTTPS_PUBLIC_BIND_PORT
            internal: true
            http:
              http3:
                svariable: HTTPS_PORT
              encoded:
                allowEncodedHash: true
            timeout: *timeout
            middlewares:
              http:
                - geoblock
        mapping:
          solar: "public-https"
          sun: "private-https"
        local: public-https
        internal: private-https
      metrics:
        otlp:
          grpc:
            insecure: true
      plugins:
        geoblock:
          name: github.com/david-garcia-garcia/traefik-geoblock
          version: "v1.1.0"
        oidc:
          name: github.com/sevensolutions/traefik-oidc-auth
          version: "v0.17.0"
      traefik:
        dynamic:
          geoblock:
            name: geoblock
            plugin: geoblock
            data:
              enabled: true
              defaultAllow: false
              databaseFilePath:
                extract:
                  volume: traefik-plugin
                transform:
                  path: sources
              allowedCountries:
              allowPrivate: true
              banIfError: true
              logLevel: "info"
              logFormat: "json"
              logBannedRequests: true
              databaseAutoUpdate: true
              databaseAutoUpdateDir:
                extract:
                  volume: traefik-data
                transform:
                  path: ip2database
          oidc:
            name: oidc
            plugin: oidc
            data:
              Secret:
                secret: oidc
              Provider:
                Url:
                  extract:
                    hostname: kanidm
                    record: solar
                    scheme: https
                  transform:
                    string:
                      template: "{value}/oauth2/openid/kanidm"
                ClientId: kanidm
                UsePkce: true
              Scopes: ["openid", "profile", "email"]
              Headers:
                - Name: X-Remote-User
                  Value: "{{`{{ .claims.preferred_username }}`}}"
                - Name: X-Remote-Name
                  Value: "{{`{{ .claims.name }}`}}"
                - Name: X-Remote-Email
                  Value: "{{`{{ .claims.email }}`}}"
          redirect-admin:
            name: redirect-admin
            data:
              redirectRegex:
                regex: "^https://([^/]+)/?$"
                replacement: "https://${{1}}/admin/"
    secrets:
      oidc:
        length: 32
  vector:
    files:
      traefik-access-log:
        content:
          data:
            transforms:
              traefik-access-log:
                source:
                  extract:
                    kv:
                      geolite: |
                        .entry_point_name = string!(.entry_point_name)
                        is_public_entrypoint = starts_with(.entry_point_name, "public")

                        not_local_or_internal_router = if .router_name == null {
                          true
                        } else {
                          .router_name = string!(.router_name)
                          !(ends_with(.router_name, "-local@file") || ends_with(.router_name, "-internal@file"))
                        }

                        if is_public_entrypoint && not_local_or_internal_router {
                          geoip_asn, geoip_err = get_enrichment_table_record("geolite-asn", {"ip": .client_host })
                          if geoip_err != null {
                            log({"error": geoip_err, "ip": .client_host}, level: "error")
                            geoip_asn = {}
                          }

                          geoip_city, geoip_err = get_enrichment_table_record("geolite-city", {"ip": .client_host })
                          if geoip_err != null {
                            log({"error": geoip_err, "ip": .client_host}, level: "error")
                            geoip_city = {}
                          } else {
                            if geoip_city.city.names != null {
                              geoip_city.city.name = del(geoip_city.city.names).en
                            }
                            if geoip_city.continent.names != null {
                              geoip_city.continent.name = del(geoip_city.continent.names).en
                            }
                            if geoip_city.country.names != null {
                              geoip_city.country.name = del(geoip_city.country.names).en
                            }
                            if geoip_city.registered_country.names != null {
                              geoip_city.registered_country.name = del(geoip_city.registered_country.names).en
                            }
                            if geoip_city.subdivisions != null {
                              geoip_city.subdivisions = map_values(array!(geoip_city.subdivisions)) -> |value| {
                                if value.names != null {
                                  value.name = del(value.names).en
                                }
                                value
                              }
                            }
                          }

                          .geoip = merge(geoip_asn, geoip_city)
                        }
