services:
  wud:
    depends-on:
      - docker
    config: {}
    network:
      bridge:
        proxy:
          egress:
            https:
              earth:
                host: earth
                hostnames:
                  - record: earth
                    hostname: docker-proxy
    container:
      volumes:
        docker-earth-mtls:
          path: /certs/earth
          read-only: true
      envs:
        WUD_WATCHER_EARTH_HOST:
          hostname: docker-proxy
          record: earth
        WUD_WATCHER_EARTH_PORT: 443
        WUD_WATCHER_EARTH_CAFILE:
          service: docker
          extract:
            container:
              service: wud
            extract:
              svariable: EARTH_CA_PATH
        WUD_WATCHER_EARTH_CERTFILE:
          service: docker
          extract:
            container:
              service: wud
            extract:
              svariable: EARTH_CERT_PATH
        WUD_WATCHER_EARTH_KEYFILE:
          service: docker
          extract:
            container:
              service: wud
            extract:
              svariable: EARTH_KEY_PATH
        WUD_WATCHER_EARTH_WATCHBYDEFAULT: false
        WUD_WATCHER_EARTH_WATCHEVENTS: false
