docker:
  images:
    remote:
      beszel:
        repo: ghcr.io/henrygd/beszel/beszel
        tag: &beszel-version "0.17.0"
      beszel-agent:
        repo: ghcr.io/henrygd/beszel/beszel-agent
        tag: *beszel-version
        suffix: "-alpine"
  volumes:
    local:
      beszel-agent-data:
        owner: &beszel-agent-user root
services:
  beszel:
    config: {}
    containers:
      agent:
        delete-before-replace: true
        image: beszel-agent
        cap:
          add:
            - SYS_RAWIO
            - SYS_ADMIN
        docker-socket:
          write: false
        network:
          mode: host
        user: *beszel-agent-user
        tmpfs:
          - /tmp
        volumes:
          beszel-agent-data: /var/lib/beszel-agent
        envs:
          DATA_DIR:
            volume: beszel-agent-data
          HUB_URL:
            hostname: beszel
            record: sun
            scheme: https
          KEY:
            host: sun
            extract:
              service: beszel
              extract:
                key: ssh
                info: public_openssh
          TOKEN:
            host: sun
            extract:
              service: beszel
              extract:
                secret:
          CONTAINER_DETAILS: false
          SKIP_SYSTEMD: true
