docker:
  images:
    remote:
      browser:
        repo: ghcr.io/browserless/chromium
        tag: "v2.40.0"
services:
  browser:
    variables:
      PLAYWRIGHT_WS_URL:
        extract:
          kv:
            url:
              hostname: browser
              record: solar
              scheme: wss
            token:
              service: browser
              extract:
                secret: token
        transform:
          string:
            template: "{url}?token={token}"
      PORT: 3000
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              port:
                svariable: PORT
    secrets:
      token:
        special: false
    user:
      # BLESS_USER_ID defined in https://github.com/browserless/browserless/blob/main/docker/base/Dockerfile
      uid: 999
      gid: 999
    container:
      image: browser
      network:
        bridge:
          vpn: {}
      tmpfs:
        - /tmp
      wud:
        template: https://github.com/browserless/browserless/releases/tag/${original}
        include-prefix: v
      envs:
        TIMEOUT: 10000
        CONCURRENT: 5
        TOKEN:
          secret: token
        HEALTH: true
        PROXY_HOST:
          hostname: browser
          record: solar
        PROXY_PORT: 443
        PROXY_SSL: true
        XDG_CONFIG_HOME: /tmp/.chromium
        XDG_CACHE_HOME: /tmp/.chromium
