docker:
  images:
    remote:
      browser:
        repo: ghcr.io/browserless/chromium
        tag: "v2.38.2"
services:
  browser:
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              port:
                svariable: PORT
    secrets:
      token:
        special: false
    user:
      # BLESS_USER_ID defined in https://github.com/browserless/browserless/blob/main/docker/base/Dockerfile
      uid: 999
      gid: 999
    variables:
      PORT: 3000
    container:
      image: browser
      network:
        bridge:
          vpn: {}
      tmpfs:
        - /tmp
      wud:
        template: https://github.com/browserless/browserless/releases/tag/${original}
        include-prefix: v
      envs:
        TIMEOUT: 10000
        CONCURRENT: 5
        TOKEN:
          secret: token
        HEALTH: true
        PROXY_HOST:
          hostname: browser
          record: solar
        PROXY_PORT: 443
        PROXY_SSL: true
        XDG_CONFIG_HOME: /tmp/.chromium
        XDG_CACHE_HOME: /tmp/.chromium
