docker:
  images:
    remote:
      cadvisor:
        repo: ghcr.io/google/cadvisor
        tag: "0.56.2"
services:
  cadvisor:
    variables:
      PORT: 8080
      PATH: /metrics
    config: {}
    user: root
    container:
      image: cadvisor
      command:
        - --store_container_labels=false
        - --whitelisted_container_labels=homelab.service,homelab.container
        - --docker_only=true
        - --allow_dynamic_housekeeping=false
        - extract:
            svariable: PORT
          transform:
            string:
              template: "--port={value}"
        - extract:
            svariable: PATH
          transform:
            string:
              template: "--prometheus_endpoint={value}"
      cap:
        add:
          - DAC_OVERRIDE
          - FOWNER
      observability:
        sources:
          raw-metrics:
            type: prometheus_scrape
            endpoints:
              - extract:
                  kv:
                    port:
                      svariable: PORT
                    path:
                      svariable: PATH
                transform:
                  string:
                    template: "http://cadvisor:{port}{path}"
        transforms:
          metrics:
            type: remap
            drop_on_abort: true
            drop_on_error: true
            inputs:
              - input: raw-metrics
            source: |
              .name = to_string!(.name)
              if !starts_with(.name, "container") { abort }
              .tags.service = del(.tags.container_label_homelab_service)
              .tags.alias = del(.tags.container_label_homelab_container)

              if starts_with(.name, "container_network") {
                if .tags.alias != "" {
                  network_mode = get_enrichment_table_record!("container-network-mode", {"alias": .tags.alias }).network_mode
                  if network_mode == "host" { abort } else { .tags.network_mode = network_mode }
                }
                if .tags.id == "/" { abort }
              }
      volumes:
        "/":
          path: "/rootfs"
          read-only: true
        "/var/run":
          path: "/var/run"
          read-only: true
        "/sys":
          path: "/sys"
          read-only: true
        "/mnt/data/docker":
          path: "/mnt/data/docker"
          read-only: true
        "/dev/disk":
          path: "/dev/disk"
          read-only: true
  vector:
    container:
      network:
        bridge:
          cadvisor: {}
      observability:
        transforms:
          add-host-label:
            inputs:
              - service: cadvisor
                input: metrics
