docker:
  images:
    remote:
      crowdsec:
        repo: ghcr.io/crowdsecurity/crowdsec
        tag: "v1.7.4-slim"
  volumes:
    local:
      crowdsec-data:
        backup:
          sqlite:
            dbs:
              - crowdsec.db
      crowdsec-config: {}
      crowdsec-acquis:
        backup: false
services:
  crowdsec:
    config:
      traefik:
        dynamic:
          traefik:
            plugin: crowdsec
            data:
              enabled: true
              crowdsecMode: stream
              crowdseclapikey:
                service: crowdsec
                extract:
                  secret: traefik
              crowdsecLapiHost: crowdsec:8080
              remediationHeadersCustomName: X-Crowdsec-Remediation
    files:
      whitelists:
        path:
          extract:
            volume: crowdsec-config
          transform:
            path: parsers/s02-enrich/whitelists.yaml
        content:
          format: yaml
          data:
            name: whitelists
            description: "Whitelist events from private ipv4/ipv6 addresses"
            whitelist:
              reason: "private ipv4/ipv6 ip/ranges"
              ip:
                - "::1"
              cidr:
                service: traefik
                extract:
                  svariable: LOCAL_IPS
      traefik-acquis:
        path:
          extract:
            volume: crowdsec-acquis
          transform:
            path: traefik.yaml
        content:
          format: yaml
          data:
            source: file
            filename:
              service: traefik
              extract:
                svariable: ACCESS_LOG_PATH
            force_inotify: true
            labels:
              type: traefik
    secrets:
      traefik:
        length: 32
        special: false
    container:
      image: crowdsec
      healthcheck:
        tests:
          - "CMD"
          - "wget"
          - "--spider"
          - "-q"
          - "http://localhost:8080/health"
      envs:
        BOUNCER_KEY_traefik:
          secret: traefik
        ENROLL_KEY:
        ENROLL_INSTANCE_NAME:
          hvariable: FULL_HOSTNAME
        COLLECTIONS: crowdsecurity/traefik
        USE_WAL: true
      network:
        bridge:
          default: {}
      tmpfs:
        - /tmp
      wud:
        template: https://github.com/crowdsecurity/crowdsec/releases/tag/v${major}.${minor}.${patch}
        include-prefix: v
        include-suffix: -slim
        transform: true
      volumes:
        crowdsec-data: /var/lib/crowdsec/data
        crowdsec-config: /etc/crowdsec
        crowdsec-acquis:
          path: /etc/crowdsec/acquis.d
          read-only: true
        traefik-log:
          path: /var/log/traefik
          read-only: true
  traefik:
    config:
      log:
        access:
          config:
            fields:
              headers:
                names:
                  X-Crowdsec-Remediation: keep
      entrypoint:
        config:
          public-https:
            middlewares:
              http:
                - service: crowdsec
                  priority: 1000
      plugins:
        crowdsec:
          name: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
          version: "v1.4.6"
      traefik:
        depends-on:
          - crowdsec
