docker:
  images:
    remote:
      crowdsec:
        repo: ghcr.io/crowdsecurity/crowdsec
        tag: "v1.7.3"
  volumes:
    local:
      crowdsec-data:
        backup:
          sqlites:
            - extract:
                volume: crowdsec-data
              transform:
                path: crowdsec.db
      crowdsec-config: {}
services:
  crowdsec:
    config:
      traefik:
        dynamic:
          traefik:
            plugin: crowdsec
            data:
              enabled: true
              crowdsecMode: stream
              crowdseclapikey:
                service: crowdsec
                extract:
                  secret: traefik
              crowdsecLapiHost: crowdsec:8080
    files:
      docker-acquis:
        path:
          extract:
            volume: crowdsec-config
          transform:
            path: acquis.d/docker.yaml
        content:
          format: yaml
          data:
            source: docker
            use_container_labels: true
    secrets:
      traefik:
        length: 32
        special: false
    container:
      image: crowdsec
      docker-socket:
        write: false
      healthcheck:
        tests:
          - "CMD"
          - "wget"
          - "--spider"
          - "-q"
          - "http://localhost:8080/health"
        interval: 30s
        timeout: 5s
      envs:
        BOUNCER_KEY_traefik:
          secret: traefik
        ENROLL_KEY:
        ENROLL_INSTANCE_NAME:
          hvariable: FULL_HOSTNAME
        COLLECTIONS: crowdsecurity/traefik
      network:
        bridge:
          default: {}
      tmpfs:
        - /tmp
      wud:
        template: https://github.com/crowdsecurity/crowdsec/releases/tag/${original}
        include-prefix: v
      volumes:
        crowdsec-data: /var/lib/crowdsec/data
        crowdsec-config: /etc/crowdsec
  traefik:
    config:
      entrypoint:
        config:
          public-https:
            middlewares:
              - service: crowdsec
                priority: 1000
      plugins:
        crowdsec:
          name: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
          version: "v1.4.4"
      traefik:
        depends-on:
          - crowdsec
    container:
      labels:
        crowdsec.enable: true
        crowdsec.labels.type: traefik
