docker:
  images:
    remote:
      docker-proxy:
        repo: ghcr.io/wollomatic/socket-proxy
        tag: "1.10.0"
      docker-cli:
        repo: docker
        tag: "28.5.1-cli"
  volumes:
    local:
      docker-proxy-mtls:
        backup: false
services:
  traefik:
    depends-on: ["docker"]
    container:
      volumes:
        docker-proxy-mtls:
          path: /etc/traefik/cert/docker-proxy-mtls
          read-only: true
  docker:
    variables:
      PROXY_PORT: 2375
      CA_PATH:
        extract:
          svolume: docker-proxy-mtls
        transform:
          path: ca.crt
      CERT_PATH:
        extract:
          svolume: docker-proxy-mtls
        transform:
          path: server.crt
      KEY_PATH:
        extract:
          svolume: docker-proxy-mtls
        transform:
          path: server.pem
    config:
      traefik:
        dynamic:
          proxy:
            name: proxy
            hostname: docker-proxy
            service:
              container: proxy
              port:
                svariable: PROXY_PORT
            tls:
              name: proxy
              certs:
                - cert:
                    service: docker
                    extract:
                      container:
                        service: traefik
                      extract:
                        svariable: CERT_PATH
                  key:
                    service: docker
                    extract:
                      container:
                        service: traefik
                      extract:
                        svariable: KEY_PATH
              mtls:
                cas:
                  - service: docker
                    extract:
                      container:
                        service: traefik
                      extract:
                        svariable: CA_PATH
      dagu:
        docker:
          executor:
            run:
              model: cli
          dags:
            start:
              dag:
                params:
                  main:
                    CONTAINERS: ""
              command:
                - "docker"
                - "start"
                - param: CONTAINERS
            stop:
              dag:
                params:
                  main:
                    CONTAINERS: ""
              command:
                - "docker"
                - "stop"
                - param: CONTAINERS
    files:
      ca:
        path:
          svariable: CA_PATH
        content:
          mtls: proxy-mtls
          info: ca_cert
      cert:
        path:
          svariable: CERT_PATH
        content:
          mtls: proxy-mtls
          info: server_cert
      key:
        path:
          svariable: KEY_PATH
        content:
          mtls: proxy-mtls
          info: server_key
    secrets:
      proxy-mtls:
        algorithm: ED25519
        hostname:
          hostname: docker-proxy
    containers:
      proxy:
        active: false
        image: docker-proxy
        docker-socket:
          write: false
        wud:
          template: https://github.com/wollomatic/socket-proxy/releases/tag/${original}
        envs:
          SP_LISTENIP: 0.0.0.0
          SP_ALLOWFROM: tailscale
          SP_LOGJSON: true
          SP_LOGLEVEL: INFO
          SP_PROXYPORT:
            svariable: PROXY_PORT
          SP_ALLOW_GET: '/(v1\.\d{1,2}/)?(_ping|version|containers/json|images/.+/json)'
      cli:
        active: false
        image: docker-cli
        docker-socket:
          write: false
