docker:
  images:
    remote:
      dozzle:
        repo: ghcr.io/amir20/dozzle
        tag: "v8.14.7"
  volumes:
    local:
      dozzle-cert:
        backup: false
services:
  dozzle:
    variables:
      PORT: 8080
      AGENT_PORT: 7007
      DOZZLE_CERT_PATH:
        extract:
          volume: dozzle-cert
        transform:
          path: cert.pem
      DOZZLE_KEY_PATH:
        extract:
          volume: dozzle-cert
        transform:
          path: key.pem
    config:
      traefik:
        dynamic:
          traefik:
            record: sun
            hostname: dozzle
            service:
              port:
                svariable: PORT
          agent:
            name: agent
            hostsni: dozzle
            service:
              container: agent
              port:
                svariable: AGENT_PORT
    secrets:
      agent-key:
        algorithm: ED25519
      agent-cert:
        key: agent-key
        subject:
          common-name:
            record: sun
            hostname: dozzle
        is-ca-certificate: true
    files:
      cert:
        path:
          svariable: DOZZLE_CERT_PATH
        content:
          host: sun
          extract:
            service: dozzle
            extract:
              cert: agent-cert
      key:
        path:
          svariable: DOZZLE_KEY_PATH
        content:
          host: sun
          extract:
            service: dozzle
            extract:
              key: agent-key
              info: private_pem
    container:
      image: dozzle
      docker-socket:
        write: false
      healthcheck:
        tests: ["CMD", "/dozzle", "healthcheck"]
        interval: 30s
        timeout: 30s
        retries: 5
        start-period: 30s
      volumes:
        dozzle-cert:
          path: /etc/dozzle/cert
          read-only: true
      wud:
        template: https://github.com/amir20/dozzle/releases/tag/${original}
        include-prefix: v
      envs:
        DOZZLE_ADDR:
          extract:
            svariable: PORT
          transform:
            string:
              template: ":{value}"
        DOZZLE_HOSTNAME:
          hinfo: byname
        DOZZLE_FILTER:
          extract:
            project:
          transform:
            string:
              template: "label=pulumi.stack={stack}"
        DOZZLE_NO_ANALYTICS: true
        DOZZLE_ENABLE_ACTIONS: true
        DOZZLE_ENABLE_SHELL: true
        DOZZLE_CERT:
          svariable: DOZZLE_CERT_PATH
        DOZZLE_KEY:
          svariable: DOZZLE_KEY_PATH
    containers:
      agent:
        inherit:
        command: ["agent"]
        tmpfs:
          - /tmp
        wud:
        envs:
          DOZZLE_AGENT_ADDR:
            extract:
              svariable: AGENT_PORT
            transform:
              string:
                template: ":{value}"
