docker:
  images:
    remote:
      dozzle:
        repo: ghcr.io/amir20/dozzle
        tag: "v8.14.7"
services:
  dozzle:
    variables:
      AGENT_PORT: &agent-port 7007
    config: {}
    container:
      image: dozzle
      docker-socket:
        write: false
      healthcheck:
        tests: ["CMD", "/dozzle", "healthcheck"]
        interval: 30s
        timeout: 30s
        retries: 5
        start-period: 30s
      network:
        bridge:
          default: {}
      wud:
        template: https://github.com/amir20/dozzle/releases/tag/${original}
        include-prefix: v
      envs:
        DOZZLE_BASE: /log
        DOZZLE_ADDR: ":8080"
        DOZZLE_FILTER:
          extract:
            project:
          transform:
            string:
              template: "label=pulumi.stack={stack}"
        DOZZLE_NO_ANALYTICS: true
        DOZZLE_ENABLE_ACTIONS: true
        DOZZLE_ENABLE_SHELL: true
        DOZZLE_REMOTE_AGENT:
          extract:
            kv:
              earth:
                host: earth
                extract:
                  hinfo: address
              port:
                svariable: AGENT_PORT
          transform:
            string:
              template: "{earth}:{port}"
    containers:
      agent:
        inherit:
        command: ["agent"]
        ports:
          agent:
            internal: *agent-port
            ips:
              v4: 0.0.0.0
            protocol: tcp
        tmpfs:
          - /tmp
        wud:
