docker:
  images:
    remote:
      grafana:
        repo: grafana/grafana
        tag: "12.3.1"
  volumes:
    local:
      grafana-data:
        backup:
          sqlite:
            dbs:
              - svariable: DATABASE_PATH
      grafana-plugins:
        backup: false
      grafana-provision:
        backup: false
      grafana-dashboard:
        backup: false
services:
  grafana:
    variables:
      PORT: 3000
      DATABASE_PATH:
        extract:
          volume: grafana-data
        transform:
          path: grafana.db
    config:
      traefik:
        dynamic:
          traefik:
            service:
              port:
                env: GF_SERVER_HTTP_PORT
    keepasses:
      keepass:
        hostname:
          hostname: grafana
    files:
      openobserve:
        path:
          extract:
            volume: grafana-provision
          transform:
            path: datasources/openobserve.yaml
        content:
          format: yaml
          data:
            apiVersion: 1
            prune: true
            datasources:
              - name: Huginn
                uid:
                  secret: openobserve-datasource-uid
                type: openobserve
                access: proxy
                editable: false
                url:
                  hvariable: OPENOBSERVE_URI
                basicAuth: true
                basicAuthUser: $OPENOBSERVE_USERNAME
                secureJsonData:
                  basicAuthPassword: $OPENOBSERVE_PASSWORD
              - name: Huginn Metrics
                uid:
                  secret: openobserve-prometheus-datasource-uid
                type: prometheus
                access: proxy
                editable: false
                url:
                  extract:
                    hvariable: OPENOBSERVE_URI
                  transform:
                    string:
                      template: "{value}/api/default/prometheus"
                basicAuth: true
                basicAuthUser: $OPENOBSERVE_USERNAME
                jsonData:
                  httpMethod: POST
                  manageAlerts: false
                  prometheusType: Prometheus
                  # TODO: remove this after https://github.com/openobserve/openobserve/issues/10043
                  prometheusVersion: 2.23.0
                  timeInterval: 10s
                  disableRecordingRules: true
                secureJsonData:
                  basicAuthPassword: $OPENOBSERVE_PASSWORD
      dashboard:
        path:
          extract:
            volume: grafana-provision
          transform:
            path: dashboards/providers.yaml
        content:
          format: yaml
          data:
            apiVersion: 1
            providers:
              - name: "file"
                type: file
                disableDeletion: false
                updateIntervalSeconds: 300
                allowUiUpdates: false
                options:
                  path:
                    volume: grafana-dashboard
                  foldersFromFilesStructure: true
    secrets:
      key: {}
      openobserve-datasource-uid:
        id:
      openobserve-prometheus-datasource-uid:
        id:
    container:
      depends-on: [install-openobserve-plugin]
      image: grafana
      volumes:
        grafana-data: /var/lib/grafana
        grafana-plugins:
          path: /var/lib/grafana/plugins
          read-only: true
        grafana-provision:
          path: /etc/grafana/provision
          read-only: true
        grafana-dashboard:
          path: /var/lib/grafana/dashboards
          read-only: true
          bind-file: false
      envs:
        GF_PATHS_PROVISIONING:
          volume: grafana-provision
        GF_SERVER_HTTP_PORT: 3000
        GF_SERVER_ROOT_URL:
          hostname: grafana
          scheme: https
        GF_SERVER_ENABLE_GZIP: true
        GF_DATABASE_PATH:
          svariable: DATABASE_PATH
        GF_DATABASE_WAL: true
        GF_PATHS_PLUGINS:
          volume: grafana-plugins
        GF_ANALYTICS_ENABLED: false
        GF_SECURITY_ADMIN_USER:
          keepass:
          info: username
        GF_SECURITY_ADMIN_PASSWORD:
          keepass:
          info: password
        GF_SECURITY_SECRET_KEY:
          secret: key
        GF_SECURITY_DISABLE_GRAVATAR: true
        GF_PLUGINS_ENABLE_ALPHA: true
        GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: openobserve
        GF_FEATURE_TOGGLES_ENABLE: sqlExpressions
        OPENOBSERVE_USERNAME:
          hvariable: OPENOBSERVE_USERNAME
        OPENOBSERVE_PASSWORD:
          hvariable: OPENOBSERVE_PASSWORD
    containers:
      install-openobserve-plugin:
        oneshot: true
        inherit:
        command:
          - "-c"
          - "curl -o /tmp/zo_gp.tar.gz https://zincsearch-releases.s3.us-west-2.amazonaws.com/zo_gp/zo_gp.tar.gz && tar -zxvf /tmp/zo_gp.tar.gz --directory $GF_PATHS_PLUGINS"
        entrypoint: ["/bin/bash"]
        network:
          bridge:
            vpn: {}
        volumes:
          grafana-plugins:
            path: /var/lib/grafana/plugins
            read-only: false
        tmpfs:
          - /tmp
  openobserve:
    container:
      network:
        bridge:
          grafana: {}
