docker:
  images:
    remote:
      grafana:
        repo: grafana/grafana
        tag: "12.3.1"
  volumes:
    local:
      grafana-data:
        backup:
          sqlite:
            dbs:
              - svariable: DATABASE_PATH
      grafana-plugins:
        backup: false
      grafana-provision:
        backup: false
      grafana-dashboard:
        backup: false
services:
  grafana:
    variables:
      PORT: 3000
      DATABASE_PATH:
        extract:
          volume: grafana-data
        transform:
          path: grafana.db
    config:
      traefik:
        dynamic:
          traefik:
            service:
              port:
                env: GF_SERVER_HTTP_PORT
    keepasses:
      keepass:
        hostname:
          hostname: grafana
    files:
      dashboard:
        path:
          extract:
            volume: grafana-provision
          transform:
            path: dashboards/providers.yaml
        content:
          format: yaml
          data:
            apiVersion: 1
            providers:
              - name: "file"
                type: file
                disableDeletion: false
                updateIntervalSeconds: 86400 # 1 day
                allowUiUpdates: false
                options:
                  path:
                    volume: grafana-dashboard
                  foldersFromFilesStructure: true
    secrets:
      key: {}
    container:
      image: grafana
      volumes:
        grafana-data: /var/lib/grafana
        grafana-plugins:
          path: /var/lib/grafana/plugins
          read-only: true
        grafana-provision:
          path: /etc/grafana/provision
          read-only: true
          bind-file: false
        grafana-dashboard:
          path: /var/lib/grafana/dashboards
          read-only: true
          bind-file: false
      wud:
        template: https://github.com/grafana/grafana/releases/tag/v${original}
      envs:
        GF_PATHS_PROVISIONING:
          volume: grafana-provision
        GF_SERVER_HTTP_PORT:
          svariable: PORT
        GF_SERVER_ROOT_URL:
          hostname: grafana
          scheme: https
        GF_SERVER_ENABLE_GZIP: true
        GF_DATABASE_PATH:
          svariable: DATABASE_PATH
        GF_DATABASE_WAL: true
        GF_PATHS_PLUGINS:
          volume: grafana-plugins
        GF_ANALYTICS_ENABLED: false
        GF_SECURITY_ADMIN_USER:
          keepass:
          info: username
        GF_SECURITY_ADMIN_PASSWORD:
          keepass:
          info: password
        GF_SECURITY_SECRET_KEY:
          secret: key
        GF_SECURITY_DISABLE_GRAVATAR: true
        GF_PLUGINS_ENABLE_ALPHA: true
        GF_FEATURE_TOGGLES_ENABLE: sqlExpressions
    containers:
      reload-dashboards:
        oneshot: true
        image: curl
        command:
          - --json
          - "{}"
          - -u
          - extract:
              kv:
                username:
                  keepass:
                  info: username
                password:
                  keepass:
                  info: password
            transform:
              string:
                template: "{username}:{password}"
          - extract:
              svariable: PORT
            transform:
              string:
                template: "http://grafana:{value}/api/admin/provisioning/dashboards/reload"
        volumes:
          grafana-provision:
            path: /etc/grafana/provision
            read-only: true
          grafana-dashboard:
            path: /var/lib/grafana/dashboards
            read-only: true
      reload-datasources:
        oneshot: true
        image: curl
        command:
          - --json
          - "{}"
          - -u
          - extract:
              kv:
                username:
                  keepass:
                  info: username
                password:
                  keepass:
                  info: password
            transform:
              string:
                template: "{username}:{password}"
          - extract:
              svariable: PORT
            transform:
              string:
                template: "http://grafana:{value}/api/admin/provisioning/datasources/reload"
        volumes:
          grafana-provision:
            path: /etc/grafana/provision
            read-only: true
