docker:
  images:
    remote:
      kanidm-server:
        repo: kanidm/server
        tag: "1.8.5"
  network:
    proxy:
      bridge:
        aliases:
          - record: solar
            hostname: kanidm
  volumes:
    local:
      kanidm-config:
        backup: false
      kanidm-data:
        backup: false
      kanidm-backup:
        backup:
          source:
            svariable: BACKUP
          file: true
services:
  kanidm:
    variables:
      PORT: &port 8443
      CONFIG:
        extract:
          volume: kanidm-config
        transform:
          path: server.toml
      BACKUP:
        extract:
          volume: kanidm-backup
        transform:
          path: kanidm.backup.json
      TLS_KEY:
        extract:
          volume: kanidm-data
        transform:
          path: key.pem
      TLS_CHAIN:
        extract:
          volume: kanidm-data
        transform:
          path: chain.pem
    config:
      address:
        hinfo: address
      path:
        svariable: CONFIG
      port:
        svariable: PORT
      state:
        persons:
          me:
            admin: true
            present: true
            display-name: "Me"
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              scheme: https
              port:
                svariable: PORT
      dagu:
        depends-on: [docker]
        dag:
          pre-backup-volume:
            name: pre-backup-volume
            path: kanidm-pre-backup-volume
            tags: ["backup"]
            steps:
              - name: stop-container
                run:
                  service: docker
                  dag: stop
                  params:
                    main:
                      CONTAINERS:
                        cinfo: name
              - name: create-backup
                executor:
                  model:
                run:
                  - "/sbin/kanidmd"
                  - "database"
                  - "backup"
                  - "-c"
                  - svariable: CONFIG
                  - svariable: BACKUP
              - name: start-container
                run:
                  service: docker
                  dag: start
                  params:
                    main:
                      CONTAINERS:
                        cinfo: name
    files:
      key:
        path:
          svariable: TLS_KEY
        content:
          key: key
          info: private_pem
      chain:
        path:
          svariable: TLS_CHAIN
        content:
          cert: chain
      config:
        path:
          svariable: CONFIG
        content:
          format: toml
          data:
            version: "2"
            bindaddress:
              extract:
                svariable: PORT
              transform:
                string:
                  template: "[::]:{value}"
            db_path:
              extract:
                volume: kanidm-data
              transform:
                path: kanidm.db
            tls_key:
              svariable: TLS_KEY
            tls_chain:
              svariable: TLS_CHAIN
            domain:
              hostname: kanidm
              record: solar
            origin:
              hostname: kanidm
              record: solar
              scheme: https
    secrets:
      key:
        algorithm: ECDSA
        ecdsa_curve: P256
      chain:
        key: key
    keepasses:
      keepass:
        hostname:
          hostname: kanidm
          record: solar
    container:
      image: kanidm-server
      command:
        - "/sbin/kanidmd"
        - "server"
        - "-c"
        - svariable: CONFIG
      healthcheck:
        tests:
          - "CMD"
          - "/sbin/kanidmd"
          - "healthcheck"
          - "-c"
          - svariable: CONFIG
      network:
        bridge:
          default: {}
      ports:
        https:
          internal: *port
          protocol: tcp
      volumes:
        kanidm-config: /config
        kanidm-data: /data
        kanidm-backup: /backup
      wud:
        template: https://github.com/kanidm/kanidm/releases/tag/v${original}
      envs:
        KANIDM_TRUST_X_FORWARD_FOR: true
