docker:
  images:
    remote:
      memos:
        repo: ghcr.io/usememos/memos
        tag: &memos-tag "0.26.2"
      mortis:
        repo: ghcr.io/mudkipme/mortis
        tag: *memos-tag
  volumes:
    local:
      memos-data: {}
services:
  kanidm:
    config:
      state:
        systems:
          oauth2:
            memos:
              display-name: Memos
              origin-url:
                - extract:
                    hostname: memos
                    record: solar
                    scheme: https
                  transform:
                    string:
                      template: "{value}/auth/callback"
              origin-landing:
                hostname: memos
                record: solar
                scheme: https
              prefer-short-username: true
              allow-insecure-client-disable-pkce: true
  memos:
    variables:
      MEMOS_PORT: 5230
      MORTIS_PORT: 5231
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              port:
                svariable: MEMOS_PORT
          mortis:
            name: mortis
            record: solar
            rules:
              - (PathPrefix(`/api/v1/`) || PathPrefix(`/o/r/`))
            service:
              container: mortis
              port:
                svariable: MORTIS_PORT
    databases:
      postgres:
        postgres: {}
    keepasses:
      keepass:
        hostname:
          hostname: memos
          record: solar
        apps:
          - me.mudkip.moememos
    container:
      image: memos
      databases:
        - postgres:
          envs:
            env: MEMOS_DSN
      healthcheck:
        tests:
          - "CMD"
          - "wget"
          - "--spider"
          - "-q"
          - extract:
              env: MEMOS_PORT
            transform:
              string:
                template: "http://localhost:{value}/healthz"
      hosts:
        - record: solar
          hostname: kanidm
      volumes:
        memos-data: /var/opt/memos
      envs:
        MEMOS_PORT:
          svariable: MEMOS_PORT
        MEMOS_DATA:
          volume: memos-data
        MEMOS_DRIVER: postgres
    containers:
      mortis:
        image: mortis
        entrypoint: ["/app/mortis"]
        command:
          - extract:
              svariable: MORTIS_PORT
            transform:
              string:
                template: "-port={value}"
          - extract:
              svariable: MEMOS_PORT
            transform:
              string:
                template: "-grpc-addr=memos:{value}"
        wud:
          template: https://github.com/usememos/memos/releases/tag/v${original}
