docker:
  images:
    remote:
      nghe:
        repo: ghcr.io/vnghia/nghe
        tag: "0.11.0"
  volumes:
    local:
      nghe-music: {}
      nghe-cache: {}
services:
  nghe:
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              port:
                env: NGHE_SERVER__PORT
    databases:
      postgres:
        postgres: {}
    secrets:
      key:
        length: 16
    container:
      image: nghe
      databases:
        - postgres:
          envs:
            env: NGHE_DATABASE__URL
      network:
        bridge:
          default: {}
      volumes:
        nghe-music:
          path: /music
          read-only: true
        nghe-cache: /tmp/nghe
      envs:
        NGHE_SERVER__PORT: 3000
        NGHE_DATABASE__KEY:
          extract:
            secret: key
          transform:
            secret:
              encode: hex
        NGHE_LOG__TIME: false
        NGHE_LOG__FORMAT: json
        NGHE_S3__ENABLE: true
        NGHE_INTEGRATION__SPOTIFY__ID:
        NGHE_INTEGRATION__SPOTIFY__SECRET:
        NGHE_INTEGRATION__LASTFM__KEY:
