docker:
  images:
    remote:
      ntfy:
        repo: binwiederhier/ntfy
        tag: "v2.15.0"
  volumes:
    local:
      ntfy-cache:
        backup:
          sqlites:
            - env: NTFY_CACHE_FILE
      ntfy-data:
        backup:
          enabled: false
          sqlites:
            - env: NTFY_AUTH_FILE
services:
  ntfy:
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            hostname: ntfy
            service:
              port:
                extract:
                  env: NTFY_LISTEN_HTTP
                transform:
                  string:
                    capture: ":(\\d+)"
    keepasses:
      keepass:
        hostname:
          hostname: ntfy
          record: solar
        apps:
          - io.heckel.ntfy
    container:
      image: ntfy
      command: ["serve"]
      healthcheck:
        tests:
          - "CMD"
          - "wget"
          - "--spider"
          - "-q"
          - extract:
              env: NTFY_LISTEN_HTTP
            transform:
              string:
                capture: ":(\\d+)"
                template: "http://localhost:{value}/v1/health"
        interval: 30s
        timeout: 5s
      envs:
        NTFY_BASE_URL:
          extract:
            hostname: ntfy
            record: solar
            scheme: https
        NTFY_LISTEN_HTTP: ":8080"
        NTFY_CACHE_FILE:
          extract:
            volume: ntfy-cache
          transform:
            path: cache.db
        NTFY_AUTH_FILE:
          extract:
            volume: ntfy-data
          transform:
            path: auth.db
        NTFY_AUTH_DEFAULT_ACCESS: "deny-all"
        NTFY_BEHIND_PROXY: true
        NTFY_ATTACHMENT_CACHE_DIR:
          extract:
            volume: ntfy-cache
          transform:
            path: attachment
        NTFY_ENABLE_SIGNUP: false
        NTFY_ENABLE_LOGIN: true
        NTFY_ENABLE_RESERVATIONS: false
        NTFY_REQUIRE_LOGIN: true
        NTFY_ENABLE_METRICS: false
        NTFY_LOG_FORMAT: json
        NTFY_AUTH_USERS:
          extract:
            kv:
              admin:
                extract:
                  kv:
                    username:
                      keepass:
                      info: username
                    password:
                      extract:
                        keepass:
                        info: password
                      transform:
                        secret:
                          encode: bcrypt
                transform:
                  string:
                    template: "{username}:{password}:admin"
          transform:
            string:
              template:
                join: ","
        NTFY_AUTH_ACCESS:
          extract:
            kv:
              everyone: "everyone:*:none"
          transform:
            string:
              template:
                join: ","
        NTFY_AUTH_TOKENS:
          transform:
            string:
              template:
                join: ","
      volumes:
        ntfy-cache: /var/cache/ntfy
        ntfy-data: /var/lib/ntfy
      wud:
        template: https://github.com/binwiederhier/ntfy/releases/tag/${original}
        include-prefix: v
