variables:
  OPENOBSERVE_URI:
    extract:
      kv:
        default:
          hostname: openobserve
          record: sun
          scheme: https
    transform:
      string:
        template: "{default}"
  OPENOBSERVE_GRPC_URI:
    extract:
      kv:
        default:
          hostname: openobserve-grpc
          record: sun
        port:
          service: traefik
          extract:
            svariable: HTTPS_PORT
    transform:
      string:
        template: "{default}:{port}"
  OPENOBSERVE_USERNAME:
    host: sun
    extract:
      service: openobserve
      extract:
        keepass:
        info: username
  OPENOBSERVE_TOKEN:
    host: sun
    extract:
      service: openobserve
      extract:
        secret: token
  OPENOBSERVE_AUTHORIZATION:
    extract:
      kv:
        username:
          hvariable: OPENOBSERVE_USERNAME
        token:
          hvariable: OPENOBSERVE_TOKEN
    transform:
      string:
        template: "{username}:{token}"
  OPENOBSERVE_AUTHORIZATION_HEADER:
    extract:
      hvariable: OPENOBSERVE_AUTHORIZATION
    transform:
      secret:
        encode: base64
      string:
        template: "Basic {value}"
