docker:
  images:
    remote:
      openobserve:
        repo: openobserve/openobserve
        tag: v0.60.1
  volumes:
    local:
      openobserve-data: {}
services:
  openobserve:
    variables:
      HTTP_PORT: 5080
      GRPC_PORT: 5081
    config:
      traefik:
        dynamic:
          traefik:
            service:
              port:
                svariable: HTTP_PORT
          grpc:
            name: grpc
            hostname: openobserve-grpc
            service:
              scheme: h2c
              port:
                svariable: GRPC_PORT
    databases:
      postgres:
        postgres: {}
    secrets:
      encryption: {}
      token: {}
      salt:
        length: 16
    keepasses:
      keepass:
        username:
          hostname:
            hostname: openobserve
          force-lower: true
        hostname:
          hostname: openobserve
    container:
      image: openobserve
      databases:
        - postgres:
          envs:
            env: ZO_META_POSTGRES_DSN
      network:
        bridge:
          default: {}
      s3:
        config:
        env:
          key-id: ZO_S3_ACCESS_KEY
          access-key: ZO_S3_SECRET_KEY
          region: ZO_S3_REGION_NAME
          endpoint: ZO_S3_SERVER_URL
      volumes:
        openobserve-data: /data/openobserve
      wud:
        template: https://github.com/openobserve/openobserve/releases/tag/${original}
      envs:
        ZO_ROOT_USER_EMAIL:
          keepass:
          info: username
        ZO_ROOT_USER_PASSWORD:
          keepass:
          info: password
        ZO_ROOT_USER_TOKEN:
          secret: token
        ZO_EXT_AUTH_SALT:
          secret: salt
        ZO_DATA_DIR:
          volume: openobserve-data
        ZO_WIDENING_SCHEMA_EVOLUTION: false
        ZO_LOCAL_MODE: true
        ZO_LOCAL_MODE_STORAGE: s3
        ZO_COMPACT_FAST_MODE: false
        ZO_HTTP_PORT:
          svariable: HTTP_PORT
        ZO_HTTP_IPV6_ENABLED: true
        ZO_GRPC_PORT:
          svariable: GRPC_PORT
        ZO_GRPC_ORG_HEADER_KEY: Organization
        ZO_GRPC_STREAM_HEADER_KEY: Stream-Name
        ZO_WEB_URL:
          hostname: openobserve
          scheme: https
        ZO_COOKIE_SAME_SITE_LAX: false
        ZO_COOKIE_SECURE_ONLY: true
        ZO_TELEMETRY: false
        ZO_LOG_JSON_FORMAT: true
        ZO_MASTER_ENCRYPTION_ALGORITHM: aes-256-siv
        ZO_MASTER_ENCRYPTION_KEY:
          extract:
            secret: encryption
          transform:
            secret:
              encode: base64
        ZO_MMDB_DISABLE_DOWNLOAD: true
        ZO_META_STORE: postgres
        # TODO: remove this after https://github.com/openobserve/openobserve/issues/10129
        ZO_QUERY_DEFAULT_LIMIT: 10000000000
