docker:
  images:
    remote:
      pdf:
        repo: ghcr.io/alam00000/bentopdf-simple
        tag: "2.3.1"
services:
  pdf:
    variables:
      PORT: 8080
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              port:
                svariable: PORT
    container:
      image: pdf
      healthcheck:
        tests:
          - "CMD"
          - "wget"
          - "--spider"
          - "-q"
          - extract:
              svariable: PORT
            transform:
              string:
                template: "http://localhost:{value}"
      tmpfs:
        - /var/cache/nginx
        - /etc/nginx/tmp
      wud:
        template: https://github.com/alam00000/bentopdf/releases/tag/${original}
        include-prefix: v
