docker:
  database:
    postgres:
      images:
        postgres:
          "17":
            repo: postgres
            tag: "17.7-bookworm"
      version: 17
      port: 5432
      dir:
        data: /var/lib/postgresql/data
        initdb: /docker-entrypoint-initdb.d
      scripts:
        - path: replication.sh
          content: |
            #!/bin/bash
            set -eux
            echo 'host replication all all scram-sha-256' >> ${PGDATA}/pg_hba.conf
      env:
        username: POSTGRES_USER
        password: POSTGRES_PASSWORD
        database: POSTGRES_DB
        data-dir: PGDATA
      container:
        healthcheck:
          tests:
            - "CMD"
            - "pg_isready"
            - "-U"
            - env: POSTGRES_DB
        tmpfs:
          - /tmp
          - /var/run/postgresql
