docker:
  images:
    remote:
      resticprofile:
        repo: creativeprojects/resticprofile
        tag: "0.31.0"
  volumes:
    local:
      restic-cache:
        backup: false
      restic-profile:
        backup: false
services:
  restic:
    config:
      image: resticprofile
      profile-dir:
        volume: restic-profile
      cache-dir:
        env: RESTIC_CACHE_DIR
      hostname:
        hvariable: FULL_HOSTNAME
      keep:
        within:
          daily: 1m # Keep at least one backup per day of the last month
          weekly: 1y # Keep at least one backup per week of the last year
          monthly: 10y # Keep at least one backup per month of the last 10 years
          yearly: 100y # Keep at least one backup per year of the last 100 years
      dagu:
        dotenvs:
          dotenv:
            s3: global
            envs:
              RESTIC_REPOSITORY:
                gvariable: restic-repository
              RESTIC_PASSWORD:
                gsecret: restic-password
        docker:
          executor:
            run:
              model:
          dag:
            dotenvs:
              - null
            params:
              types:
                backup:
                snapshot:
            tags: ["backup"]
          dags:
            check:
              dag:
                schedule: "0 5 * * sat"
              command: ["check", "--read-data"]
            snapshots:
              command:
                - "-n"
                - param:
                    type: backup
                - "snapshots"
            backup:
              command:
                - "-n"
                - param:
                    type: backup
                - "backup"
            ls:
              command:
                - "-n"
                - param:
                    type: backup
                - "ls"
                - param:
                    type: snapshot
            restore:
              command:
                - "-n"
                - param:
                    type: backup
                - "restore"
                - param:
                    type: snapshot
            forget:
              command:
                - "-n"
                - param:
                    type: backup
                - "forget"
            prune:
              command: ["prune"]
        dag:
          forget-and-prune:
            name: forget-and-prune
            path: restic-forget-and-prune
            tags: ["backup"]
            schedule: "0 7 * * sun" # 7am every sunday
            steps:
              - name: forget
                run:
                  service: restic
                  dag: forget
              - name: prune
                run:
                  service: restic
                  dag: prune
                depends:
                  - forget
    network:
      bridge:
    container:
      active: false
      image: resticprofile
      network:
        bridge:
          default: {}
      tmpfs:
        - /tmp
      volumes:
        restic-cache: /cache
        restic-profile:
          path: /etc/resticprofile
          read-only: true
      envs:
        RESTIC_CACHE_DIR:
          volume: restic-cache
