docker:
  images:
    remote:
      resticprofile:
        repo: creativeprojects/resticprofile
        tag: "0.32.0"
  volumes:
    local:
      restic-cache:
        backup: false
      restic-configuration:
        backup: false
services:
  restic:
    config:
      image: resticprofile
      configuration-dir:
        volume: restic-configuration
      cache-dir:
        env: RESTIC_CACHE_DIR
      hostname:
        hvariable: FULL_HOSTNAME
      keep:
        within:
          daily: 1m # Keep at least one backup per day of the last month
          weekly: 1y # Keep at least one backup per week of the last year
          monthly: 10y # Keep at least one backup per month of the last 10 years
          yearly: 100y # Keep at least one backup per year of the last 100 years
      dagu:
        docker:
          executor:
            run:
              model:
          dag:
            params:
              types:
                backup:
                snapshot:
            tags: ["backup"]
          command:
            prefix:
              - "-n"
              - param:
                  type: backup
          dags:
            snapshots:
              command: ["snapshots"]
            backup:
              command: ["backup"]
            ls:
              command:
                - "ls"
                - param:
                    type: snapshot
            restore:
              command:
                - "restore"
                - param:
                    type: snapshot
    network:
      bridge:
    container:
      active: false
      image: resticprofile
      network:
        bridge:
          default: {}
      tmpfs:
        - /tmp
      volumes:
        restic-cache: /cache
        restic-configuration:
          path: /etc/resticprofile
          read-only: true
      envs:
        RESTIC_CACHE_DIR:
          volume: restic-cache
