docker:
  images:
    remote:
      resticprofile:
        repo: creativeprojects/resticprofile
        tag: "0.32.0"
  volumes:
    local:
      restic-cache:
        backup: false
      restic-configuration:
        backup: false
      restic-ssh:
        backup: false
services:
  restic:
    config:
      image: resticprofile
      configuration-dir:
        volume: restic-configuration
      cache-dir:
        env: RESTIC_CACHE_DIR
      hostname:
        hvariable: FULL_HOSTNAME
      dagu:
        docker:
          executor:
            run:
              model:
          dag:
            params:
              types:
                backup:
                snapshot:
            tags: ["backup"]
          command:
            prefix:
              - "-n"
              - param:
                  type: backup
          dags:
            snapshots:
              command: ["snapshots"]
            backup:
              command: ["backup"]
            ls:
              command:
                - "ls"
                - param:
                    type: snapshot
            restore:
              command:
                - "restore"
                - param:
                    type: snapshot
    files:
      ssh-config:
        path:
          extract:
            volume: restic-ssh
          transform:
            path: config
        content: |
          Host *
            ServerAliveInterval 60
            ServerAliveCountMax 240
            StrictHostKeyChecking no
        mode: 0400
      private-key:
        path:
          extract:
            volume: restic-ssh
          transform:
            path: id_ed25519
        content:
          key: ssh
          info: private_openssh
        mode: 0400
      public-key:
        path:
          extract:
            volume: restic-ssh
          transform:
            path: id_ed25519.pub
        content:
          key: ssh
          info: public_openssh
        mode: 0400
    secrets:
      ssh:
        algorithm: ED25519
    network:
      bridge:
    user: root
    container:
      experimental: true
      active: false
      image: resticprofile
      cap:
        add:
          - CHOWN
          - DAC_READ_SEARCH
      network:
        bridge:
          default: {}
      tmpfs:
        - /tmp
      volumes:
        restic-cache: /cache
        restic-configuration:
          path: /etc/resticprofile
          read-only: true
        restic-ssh:
          path: /root/.ssh
          read-only: true
      envs:
        RESTIC_CACHE_DIR:
          volume: restic-cache
