docker:
  images:
    remote:
      rxresume:
        repo: ghcr.io/amruthpillai/reactive-resume
        tag: "v5.0.9"
  volumes:
    local:
      rxresume-data: {}
services:
  kanidm:
    config:
      state:
        systems:
          oauth2:
            rxresume:
              display-name: Reactive Resume
              origin-url:
                - extract:
                    hostname: rxresume
                    record: solar
                    scheme: https
                  transform:
                    string:
                      template: "{value}/api/auth/oauth2/callback/custom"
              origin-landing:
                hostname: rxresume
                record: solar
                scheme: https
              prefer-short-username: true
              allow-insecure-client-disable-pkce: true
  browser:
    container:
      hosts:
        - record: solar
          hostname: rxresume
  rxresume:
    variables:
      PORT: 3000
    config:
      traefik:
        dynamic:
          traefik:
            record: solar
            service:
              port:
                svariable: PORT
    databases:
      postgres:
        postgres: {}
    secrets:
      auth: {}
    container:
      image: rxresume
      databases:
        - postgres:
          envs:
            env: DATABASE_URL
            scheme: postgresql
      healthcheck:
        tests:
          - "CMD"
          - "curl"
          - "--fail"
          - extract:
              svariable: PORT
            transform:
              string:
                template: "http://localhost:{value}/api/health"
      hosts:
        - record: solar
          hostname: browser
        - record: solar
          hostname: kanidm
      volumes:
        rxresume-data: /app/data
      wud:
        template: https://github.com/amruthpillai/reactive-resume/releases/tag/${original}
        include-prefix: v
      envs:
        APP_URL:
          hostname: rxresume
          record: solar
          scheme: https
        PRINTER_ENDPOINT:
          service: browser
          extract:
            svariable: PLAYWRIGHT_WS_URL
        AUTH_SECRET:
          secret: auth
        OAUTH_PROVIDER_NAME: Kanidm
        OAUTH_CLIENT_ID: rxresume
        OAUTH_CLIENT_SECRET:
          service: kanidm
          extract:
            export: rxresume
        OAUTH_DISCOVERY_URL:
          extract:
            hostname: kanidm
            record: solar
            scheme: https
          transform:
            string:
              template: "{value}/oauth2/openid/rxresume/.well-known/openid-configuration"
        OAUTH_SCOPES: openid profile email
        FLAG_DISABLE_SIGNUPS: false
        FLAG_DISABLE_EMAIL_AUTH: true
