docker:
  images:
    remote:
      sniproxy:
        repo: ghcr.io/atenart/sniproxy
        tag: "latest"
  volumes:
    local:
      sniproxy-config:
        backup: false
services:
  sniproxy:
    variables:
      CONFIG_PATH:
        extract:
          volume: sniproxy-config
        transform:
          path: sniproxy.yaml
    config: {}
    container:
      image: sniproxy
      cap:
        add:
          - NET_RAW
          - NET_BIND_SERVICE
      command:
        - "--log-level"
        - "info"
        - "--config"
        - svariable: CONFIG_PATH
      network:
        bridge:
          vpn: {}
      volumes:
        sniproxy-config:
          path: /etc/sniproxy
          read-only: true
