docker:
  images:
    remote:
      sniproxy:
        repo: ghcr.io/atenart/sniproxy
        tag: "latest"
  network:
    egress:
      https:
        service: sniproxy
        port:
          svariable: HTTPS_PORT
  volumes:
    local:
      sniproxy-config:
        backup: false
services:
  sniproxy:
    variables:
      HTTP_PORT: 82
      HTTP_BIND:
        extract:
          svariable: HTTP_PORT
        transform:
          string:
            template: "[::]:{value}"
      HTTPS_PORT: 445
      HTTPS_BIND:
        extract:
          svariable: HTTPS_PORT
        transform:
          string:
            template: "[::]:{value}"
      HTTPS_EGRESS_PORT:
        service: traefik
        extract:
          svariable: HTTPS_PORT
      CONFIG_PATH:
        extract:
          volume: sniproxy-config
        transform:
          path: sniproxy.yaml
    config: {}
    container:
      image: sniproxy
      cap:
        add:
          - NET_RAW
          - NET_BIND_SERVICE
      command:
        - "--log-level"
        - "info"
        - "--config"
        - svariable: CONFIG_PATH
      network:
        bridge:
          vpn: {}
      volumes:
        sniproxy-config:
          path: /etc/sniproxy
          read-only: true
