docker:
  images:
    remote:
      radarr:
        repo: ghcr.io/linuxserver/radarr
        tag: "version-5.28.0.10274"
      sonarr:
        repo: ghcr.io/linuxserver/sonarr
        tag: "version-4.0.16.2944"
      prowlarr:
        repo: ghcr.io/linuxserver/prowlarr
        tag: "version-2.1.5.5216"
      bazarr:
        repo: ghcr.io/linuxserver/bazarr
        tag: "1.5.3"
  volumes:
    local:
      starr-data:
        backup: false
      starr-radarr-config:
        backup:
          sqlites:
            - service:
              extract:
                container: radarr
                extract:
                  volume: starr-radarr-config
                transform:
                  path: logs.db
            - service:
              extract:
                container: radarr
                extract:
                  volume: starr-radarr-config
                transform:
                  path: radarr.db
          excludes:
            - Backups
            - radarr.pid
      starr-sonarr-config:
        backup:
          sqlites:
            - service:
              extract:
                container: sonarr
                extract:
                  volume: starr-sonarr-config
                transform:
                  path: logs.db
            - service:
              extract:
                container: sonarr
                extract:
                  volume: starr-sonarr-config
                transform:
                  path: sonarr.db
          excludes:
            - Backups
            - sonarr.pid
      starr-prowlarr-config:
        backup:
          sqlites:
            - service:
              extract:
                container: prowlarr
                extract:
                  volume: starr-prowlarr-config
                transform:
                  path: logs.db
            - service:
              extract:
                container: prowlarr
                extract:
                  volume: starr-prowlarr-config
                transform:
                  path: prowlarr.db
          excludes:
            - Backups
            - prowlarr.pid
      starr-bazarr-config:
        backup:
          sqlites:
            - service:
              extract:
                container: bazarr
                extract:
                  volume: starr-bazarr-config
                transform:
                  path: db/bazarr.db
          excludes:
            - backup
            - restore
services:
  starr:
    config:
      traefik:
        dynamic:
          radarr:
            name: radarr
            service:
              container: radarr
              port:
                svariable: RADARR_PORT
          sonarr:
            name: sonarr
            service:
              container: sonarr
              port:
                svariable: SONARR_PORT
          prowlarr:
            name: prowlarr
            service:
              container: prowlarr
              port:
                svariable: PROWLARR_PORT
          bazarr:
            name: bazarr
            service:
              container: bazarr
              port:
                svariable: BAZARR_PORT
    keepasses:
      radarr:
        hostname:
          hostname: starr-radarr
      sonarr:
        hostname:
          hostname: starr-sonarr
      prowlarr:
        hostname:
          hostname: starr-prowlarr
      bazarr:
        hostname:
          hostname: starr-bazarr
    network:
      bridge:
        proxy:
          aliases:
            - hostname: qbittorrent
          egress:
            https:
              earth:
                hostname:
                  record: earth
                  hostname: bitmagnet
                host: earth
                internal: true
    variables:
      RADARR_PORT: 7878
      SONARR_PORT: 8989
      PROWLARR_PORT: 9696
      BAZARR_PORT: 6767
    containers:
      radarr:
        image: radarr
        network:
          bridge:
            default: {}
        tmpfs:
          - path: /run
            exec: true
        volumes:
          starr-data: /starr
          starr-radarr-config: /config
        wud:
          template: https://github.com/Radarr/Radarr/releases/tag/v${major}.${minor}.${patch}.${prerelease}
          include-prefix: version-
          transform: ^version-(\d+\.\d+\.\d+).(\d+)$ => $1-$2
          semver-count: 4
        envs:
          S6_READ_ONLY_ROOT: 1
      sonarr:
        image: sonarr
        network:
          bridge:
            default: {}
        tmpfs:
          - path: /run
            exec: true
        volumes:
          starr-data: /starr
          starr-sonarr-config: /config
        wud:
          template: https://github.com/Sonarr/Sonarr/releases/tag/v${major}.${minor}.${patch}.${prerelease}
          include-prefix: version-
          transform: ^version-(\d+\.\d+\.\d+).(\d+)$ => $1-$2
          semver-count: 4
        envs:
          S6_READ_ONLY_ROOT: 1
      prowlarr:
        image: prowlarr
        network:
          bridge:
            vpn: {}
            flaresolverr: {}
        tmpfs:
          - path: /run
            exec: true
        volumes:
          starr-prowlarr-config: /config
        wud:
          template: https://github.com/Prowlarr/Prowlarr/releases/tag/v${major}.${minor}.${patch}.${prerelease}
          include-prefix: version-
          transform: ^version-(\d+\.\d+\.\d+).(\d+)$ => $1-$2
          semver-count: 4
        envs:
          S6_READ_ONLY_ROOT: 1
      bazarr:
        image: bazarr
        network:
          bridge:
            default: {}
        tmpfs:
          - path: /run
            exec: true
          - /tmp
        volumes:
          starr-data: /starr
          starr-bazarr-config: /config
        wud:
          template: https://github.com/morpheus65535/bazarr/releases/tag/v${original}
        envs:
          S6_READ_ONLY_ROOT: 1
