docker:
  images:
    remote:
      tailscale:
        repo: ghcr.io/tailscale/tailscale
        tag: "v1.92.5"
  volumes:
    local:
      tailscale-data: {}
services:
  tailscale:
    variables:
      PORT:
        port: udp
        info: internal
    user: root
    container:
      image: tailscale
      cap:
        add:
          - FOWNER
          - MKNOD
          - NET_ADMIN
          - NET_RAW
      healthcheck:
        tests:
          - "CMD"
          - "wget"
          - "--spider"
          - "-q"
          - "http://localhost:9002/healthz"
      hostname:
        hinfo: name
      network:
        bridge:
          default: {}
      ports:
        udp:
          internal:
          protocol: udp
      tmpfs:
        - /tmp
        - /run
      volumes:
        tailscale-data: /var/lib/tailscale
      wud:
        template: https://tailscale.com/changelog
        include-prefix: v
      envs:
        TS_STATE_DIR:
          volume: tailscale-data
        TS_USERSPACE: false
        TS_AUTH_ONCE: true
        TS_ENABLE_HEALTH_CHECK: true
        TS_TAILSCALED_EXTRA_ARGS:
          extract:
            svariable: PORT
          transform:
            string:
              template: "--port={value} --no-logs-no-support"
        TS_HOSTNAME:
          hvariable: FULL_HOSTNAME
