docker:
  images:
    remote:
      traefik:
        repo: traefik
        tag: "v3.6.4"
  network:
    proxy:
      service: traefik
  volumes:
    local:
      traefik-config:
        backup: false
      traefik-cert: {}
      traefik-plugin:
        backup: false
      traefik-data: {}
      traefik-tmp:
        backup: false
services:
  tailscale:
    network:
      bridge:
  traefik:
    variables:
      HTTP_PUBLIC_BIND_PORT: 81
      HTTP_PORT: 80
      HTTPS_PUBLIC_BIND_PORT: 444
      HTTPS_PORT: 443
      CERT_PATH:
        extract:
          volume: traefik-cert
        transform:
          path: acme.json
      CONFIG_PATH:
        volume: traefik-config
      STATIC_PATH:
        extract:
          svariable: CONFIG_PATH
        transform:
          path: static.toml
      API_PATH: /proxy
    config:
      path:
        static:
          svariable: STATIC_PATH
        dynamic:
          extract:
            svariable: CONFIG_PATH
          transform:
            path: dynamic
        api:
          svariable: API_PATH
      acme:
        server: https://acme-v02.api.letsencrypt.org/directory
        storage:
          svariable: CERT_PATH
        disable-checks: false
        require-all-rns: false
        disable-ans-checks: true
        delay-before-checks: 60s
      entrypoint:
        config:
          private-http:
            port:
              svariable: HTTP_PORT
            to:
              svariable: HTTPS_PORT
          private-https:
            port:
              svariable: HTTPS_PORT
            http3: {}
        egress:
          https: private-https
      traefik:
        dynamic:
          local:
            name: local
            data: &local-middleware
              source-range:
                - "10.0.0.0/8"
                - "100.64.0.0/10"
                - "172.16.0.0/12"
                - "192.168.0.0/16"
                - "fc00::/7"
          local-tcp:
            name: local-tcp
            type: tcp
            data: *local-middleware
    network:
      bridge:
    container:
      image: traefik
      command:
        - "traefik"
        - "--configFile"
        - svariable: STATIC_PATH
      healthcheck:
        tests: ["CMD", "traefik", "healthcheck", "--ping"]
        interval: 30s
        timeout: 5s
        retries: 5
      hosts:
        - mode: localhost
      network:
        service: tailscale
      ports:
        http:
          internal:
            svariable: HTTP_PUBLIC_BIND_PORT
          external:
            svariable: HTTP_PORT
          protocol: tcp
        https:
          internal:
            svariable: HTTPS_PUBLIC_BIND_PORT
          external:
            svariable: HTTPS_PORT
          protocol: tcp
        h3:
          internal:
            svariable: HTTPS_PUBLIC_BIND_PORT
          external:
            svariable: HTTPS_PORT
          protocol: udp
      wud:
        template: https://github.com/traefik/traefik/releases/tag/${original}
        include-prefix: v
      volumes:
        traefik-config:
          path: /etc/traefik/config
          read-only: true
        traefik-cert: /etc/traefik/cert
        traefik-plugin: /plugins-storage
        traefik-data: /data
        traefik-tmp: /tmp
