services:
  traefik:
    container:
      observability:
        sources:
          access-log-file:
            type: file
            include:
              - service: traefik
                extract:
                  container:
                    service: vector
                  extract:
                    svariable: ACCESS_LOG_PATH
            fingerprint:
              strategy: checksum
        transforms:
          access-log:
            type: remap
            inputs:
              - input: access-log-file
            source:
              extract:
                kv:
                  common: |
                    message = object!(parse_json!(.message, lossy: false))
                    del(message.level)
                    del(message.msg)
                    del(message.time)

                    . = merge(
                      object({"host": .host, "schema": "traefik", "source_type": "access-log"}),
                      map_keys(message) -> |key| { replace(snakecase(key, "PascalCase"), "-", "_") },
                    )
                    .timestamp = del(.start_utc)

                    if (.request_user_agent != null) {
                      .user_agent = parse_user_agent(string!(.request_user_agent), mode: "reliable")
                    }
              transform:
                string:
                  template:
                    join: "\n"
  vector:
    container:
      observability:
        sinks:
          openobserve-log:
            inputs:
              - service: traefik
                input: access-log
      volumes:
        traefik-log:
          path: /var/log/traefik
          read-only: true
