services:
  vector:
    files:
      traefik-access-log:
        path:
          extract:
            volume: vector-config
          transform:
            path: traefik-access-log.toml
        content:
          format: toml
          data:
            sources:
              traefik-access-log-file:
                type: file
                include:
                  - service: traefik
                    extract:
                      container:
                        service: vector
                      extract:
                        svariable: ACCESS_LOG_PATH
                fingerprint:
                  strategy: checksum
            transforms:
              traefik-access-log:
                type: remap
                inputs:
                  - traefik-access-log-file
                source:
                  extract:
                    kv:
                      common: |
                        message = object!(parse_json!(.message, lossy: false))
                        del(message.level)
                        del(message.msg)
                        del(message.time)

                        . = merge(
                          object({"host": .host, "schema": "traefik", "source_type": "access-log"}),
                          map_keys(message) -> |key| { replace(snakecase(key, "PascalCase"), "-", "_") },
                        )
                        .timestamp = del(.start_utc)

                        if (.request_user_agent != null) {
                          .user_agent = parse_user_agent(string!(.request_user_agent), mode: "reliable")
                        }
                  transform:
                    string:
                      template:
                        join: "\n"
      openobserve:
        content:
          data:
            sinks:
              openobserve-log:
                inputs:
                  - traefik-access-log
    container:
      volumes:
        traefik-log:
          path: /var/log/traefik
          read-only: true
