docker:
  images:
    remote:
      traefik:
        repo: traefik
        tag: "v3.6.6"
  network:
    proxy:
      service: traefik
  volumes:
    local:
      traefik-config:
        backup: false
      traefik-cert: {}
      traefik-plugin:
        backup: false
      traefik-tmp:
        backup: false
      traefik-data: {}
      traefik-log:
        backup: false
services:
  tailscale:
    network:
      bridge:
  traefik:
    variables:
      HTTP_PUBLIC_BIND_PORT: 81
      HTTP_PORT: 80
      HTTPS_PUBLIC_BIND_PORT: 444
      HTTPS_PORT: 443
      CERT_PATH:
        extract:
          volume: traefik-cert
        transform:
          path: acme.json
      CONFIG_PATH:
        volume: traefik-config
      STATIC_PATH:
        extract:
          svariable: CONFIG_PATH
        transform:
          path: static.toml
      ACCESS_LOG_PATH:
        extract:
          volume: traefik-log
        transform:
          path: access.log
      LOCAL_IPS:
        list_:
          - "10.0.0.0/8"
          - "100.64.0.0/10"
          - "172.16.0.0/12"
          - "192.168.0.0/16"
          - "fc00::/7"
    config:
      path:
        static:
          svariable: STATIC_PATH
        dynamic:
          extract:
            svariable: CONFIG_PATH
          transform:
            path: dynamic
      acme:
        server: https://acme-v02.api.letsencrypt.org/directory
        storage:
          svariable: CERT_PATH
        disable-checks: false
        require-all-rns: false
        disable-ans-checks: true
        delay-before-checks: 60s
      log:
        access:
          path:
            svariable: ACCESS_LOG_PATH
          config:
            fields:
              defaultMode: keep
              names:
                StartLocal: drop
              headers:
                defaultMode: drop
                names:
                  User-Agent: keep
                  Grpc-Status: keep
      entrypoint:
        config:
          private-http:
            port:
              svariable: HTTP_PORT
            to:
              svariable: HTTPS_PORT
          private-https:
            port:
              svariable: HTTPS_PORT
            http:
              encoded:
                allowEncodedHash: true
        egress:
          https: private-https
      traefik:
        dynamic:
          local:
            name: local
            data: &local-middleware
              source-range:
                svariable: LOCAL_IPS
          local-tcp:
            name: local-tcp
            type: tcp
            data: *local-middleware
          traefik:
            service: "api@internal"
    network:
      bridge:
    container:
      image: traefik
      cap:
        add:
          - NET_RAW
          - NET_BIND_SERVICE
      command:
        - "traefik"
        - "--configFile"
        - svariable: STATIC_PATH
      healthcheck:
        tests: ["CMD", "traefik", "healthcheck", "--ping"]
      hosts:
        - mode: localhost
      network:
        service: tailscale
      ports:
        http:
          internal:
            svariable: HTTP_PUBLIC_BIND_PORT
          external:
            svariable: HTTP_PORT
          protocol: tcp
        https:
          internal:
            svariable: HTTPS_PUBLIC_BIND_PORT
          external:
            svariable: HTTPS_PORT
          protocol: tcp
        h3:
          internal:
            svariable: HTTPS_PUBLIC_BIND_PORT
          external:
            svariable: HTTPS_PORT
          protocol: udp
      wud:
        template: https://github.com/traefik/traefik/releases/tag/${original}
        include-prefix: v
      volumes:
        traefik-config:
          path: /etc/traefik/config
          read-only: true
        traefik-cert: /etc/traefik/cert
        traefik-plugin: /plugins-storage
        traefik-tmp: /tmp
        traefik-data: /data
        traefik-log: /var/log/traefik
      envs:
        USER: nobody
