docker:
  images:
    remote:
      vector:
        repo: timberio/vector
        tag: "0.52.0-debian"
  volumes:
    local:
      vector-config:
        backup: false
      vector-data: {}
services:
  vector:
    depends-on:
      - host: sun
        service: openobserve
    config: {}
    files:
      config:
        path:
          extract:
            volume: vector-config
          transform:
            path: config.toml
        content:
          format: toml
          data:
            data_dir:
              volume: vector-data
      openobserve:
        path:
          extract:
            volume: vector-config
          transform:
            path: openobserve.toml
        content:
          format: toml
          data:
            sinks:
              openobserve:
                type: http
                uri:
                  extract:
                    hvariable: OPENOBSERVE_URI
                  transform:
                    string:
                      template: "{value}/api/default/{{{{ schema }}}}/_json"
                method: post
                auth:
                  strategy: basic
                  user:
                    hvariable: OPENOBSERVE_USERNAME
                  password:
                    hvariable: OPENOBSERVE_TOKEN
                compression: gzip
                encoding:
                  codec: json
                  timestamp_format: rfc3339
                healthcheck:
                  enabled: true
                  uri:
                    extract:
                      hvariable: OPENOBSERVE_URI
                    transform:
                      string:
                        template: "{value}/healthz"
    container:
      image: vector
      command:
        - "--config-dir"
        - volume: vector-config
      hostname:
        hinfo: name
      volumes:
        vector-config:
          path: /etc/vector
          read-only: true
          bind-file: false
        vector-data: /var/lib/vector
    containers:
      reload:
        depends-on: [null]
        oneshot: true
        image: docker-cli
        docker-socket:
          write: false
        command:
          - "kill"
          - "--signal"
          - "SIGHUP"
          - container:
            extract:
              cinfo: id
        volumes:
          vector-config:
            path: /etc/vector
            read-only: true
