docker:
  images:
    remote:
      vector:
        repo: timberio/vector
        tag: "0.52.0-debian"
  volumes:
    local:
      vector-config:
        backup: false
      vector-data: {}
services:
  vector:
    config:
      dir:
        env: VECTOR_CONFIG_DIR
    files:
      config:
        path:
          extract:
            volume: vector-config
          transform:
            path: config.toml
        content:
          format: toml
          data:
            acknowledgements:
              enabled: true
            data_dir:
              volume: vector-data
    container:
      image: vector
      hostname:
        hinfo: name
      volumes:
        vector-config:
          path: /etc/vector
          read-only: true
          bind-file: false
        vector-data: /var/lib/vector
      envs:
        VECTOR_CONFIG_DIR:
          volume: vector-config
        VECTOR_WATCH_CONFIG: true
        VECTOR_ALLOW_EMPTY_CONFIG: true
        VECTOR_LOG_FORMAT: json
