docker:
  images:
    remote:
      windows:
        repo: ghcr.io/dockur/windows
        tag: "5.14"
    build:
      wintele:
        context:
          location: image/telegram/wintele
          base: python-alpine
          python-builder:
            image: python-builder
        version: "0.0.1"
  volumes:
    local:
      windows-storage:
        backup: false
services:
  windows:
    variables:
      PORT: 8006
    config:
      traefik:
        dynamic:
          traefik:
            service:
              port:
                svariable: PORT
    keepasses:
      keepass:
        hostname:
          hostname: windows
          record: solar
    secrets:
      totp:
        special: false
    container:
      image: windows
      capabilities:
        - NET_ADMIN
      devices:
        - /dev/kvm
        - /dev/net/tun
      network:
        bridge:
          default: {}
      ports:
        rdp-tcp:
          internal: 3389
          protocol: tcp
        rdp-udp:
          internal: 3389
          protocol: udp
      read-only: false
      volumes:
        windows-storage: /storage
      wud:
        template: https://github.com/dockur/windows/releases/tag/v${original}
        semver-count: 2
      envs:
        VERSION: tiny11
        RAM_SIZE: "6G"
        CPU_CORES: 4
        RAM_CHECK: "N"
        DISPLAY: disabled
        USERNAME:
          keepass:
          info: username
        PASSWORD:
          keepass:
          info: password
    containers:
      wintele:
        image:
          build: wintele
        docker-socket:
          write: false
        network:
          bridge:
            default: {}
        envs:
          WINTELE_TOKEN:
          WINTELE_TOTP:
            extract:
              secret: totp
            transform:
              secret:
                encode: base32
          WINTELE_CONTAINER:
            container:
            extract:
              cinfo: name
