docker:
  images:
    remote:
      wud:
        repo: ghcr.io/getwud/wud
        tag: "8.2.1"
  volumes:
    local:
      wud-storage: {}
services:
  ntfy:
    variables:
      WUD_TOKEN:
        service: ntfy
        extract:
          secret: wud-short-token
        transform:
          string:
            template: "tk_{value}"
    secrets:
      wud-username:
        length: 16
        special: false
      wud-password: {}
      wud-short-token:
        length: 29
        special: false
    container:
      envs:
        NTFY_AUTH_USERS:
          extract:
            kv:
              wud:
                extract:
                  kv:
                    username:
                      secret: wud-username
                    password:
                      extract:
                        secret: wud-password
                      transform:
                        secret:
                          encode: bcrypt
                transform:
                  string:
                    template: "{username}:{password}:user"
        NTFY_AUTH_ACCESS:
          extract:
            kv:
              wud:
                extract:
                  kv:
                    username:
                      secret: wud-username
                    topic:
                      service: wud
                      extract:
                        svariable: NTFY_TOPIC
                transform:
                  string:
                    template: "{username}:{topic}:wo"
        NTFY_AUTH_TOKENS:
          extract:
            kv:
              wud:
                extract:
                  kv:
                    username:
                      secret: wud-username
                    token:
                      svariable: WUD_TOKEN
                transform:
                  string:
                    template: "{username}:{token}"
  wud:
    variables:
      NTFY_TOPIC: docker
    depends-on: [ntfy]
    config:
      traefik:
        dynamic:
          traefik:
            service:
              port:
                env: WUD_SERVER_PORT
    container:
      image: wud
      docker-socket:
        write: false
      healthcheck:
        tests:
          - "CMD"
          - "curl"
          - "--fail"
          - extract:
              env: WUD_SERVER_PORT
            transform:
              string:
                template: "http://localhost:{value}/health"
      hosts:
        - record: solar
          hostname: ntfy
      network:
        bridge:
          vpn: {}
      volumes:
        wud-storage: /store
      wud:
        template: https://github.com/getwud/wud/releases/tag/${original}
      envs:
        WUD_LOG_FORMAT: json
        WUD_SERVER_PORT: 3000
        WUD_WATCHER_SUN_SOCKET: /var/run/docker.sock
        WUD_WATCHER_SUN_WATCHBYDEFAULT: false
        WUD_WATCHER_SUN_WATCHEVENTS: false
        WUD_SERVER_FEATURE_DELETE: false
        WUD_TRIGGER_NTFY_ALL_AUTH_TOKEN:
          service: ntfy
          extract:
            svariable: WUD_TOKEN
        WUD_TRIGGER_NTFY_ALL_TOPIC:
          svariable: NTFY_TOPIC
        WUD_TRIGGER_NTFY_ALL_URL:
          record: solar
          hostname: ntfy
          scheme: https
        WUD_TRIGGER_PUSHOVER_ALL_USER:
        WUD_TRIGGER_PUSHOVER_ALL_TOKEN:
        WUD_TRIGGER_PUSHOVER_ALL_HTML: 1
