docker:
  images:
    remote:
      xseed:
        repo: ghcr.io/cross-seed/cross-seed
        tag: "6.13.6"
  volumes:
    local:
      xseed-config:
        backup:
          sqlite:
            dbs:
              - cross-seed.db
services:
  xseed:
    variables:
      XSEED_PORT: 2468
    config:
      traefik:
        dynamic:
          traefik:
            service:
              port:
                svariable: XSEED_PORT
    container:
      image: xseed
      command:
        - daemon
        - --port
        - svariable: XSEED_PORT
      hosts:
        - hostname: qbittorrent
        - hostname: starr-radarr
        - hostname: starr-sonarr
        - hostname: starr-prowlarr
      wud:
        template: https://github.com/cross-seed/cross-seed/releases/tag/v${original}
      volumes:
        xseed-config: /config
        qbittorrent-downloads:
          service: qbittorrent
          extract:
            container:
            extract:
              volume: qbittorrent-downloads
        qbittorrent-starr:
          service: qbittorrent
          extract:
            container:
            extract:
              volume: qbittorrent-starr
